<style type="text/css">
.popover {
	width:auto !important;
	max-width: none !important;
	min-width: 450 !important;
}
.hidden-column {
	display: none;
}
</style>
<div class='row'>
  <div class='col-sm-12'>
    <div class='panel panel-default'>
      <div class='panel-body' id="images-div">
	<div>
	  <label class="checkbox-inline">
	    <input type="checkbox" id="my-images" checked>
	    <span data-toggle='tooltip'
		  data-container="body"
		  data-trigger="hover"
		  title='Images you have created'>
	      My Images
	    </span>
	  </label>
	  <label class="checkbox-inline">
	    <input type="checkbox" id="project-images" checked>
	    <span data-toggle='tooltip'
		  data-container="body"
		  data-trigger="hover"
		  title='Images created in projects you are a member of'>
	      Project Images
	    </span>
	  </label>
	  <label class="checkbox-inline">
	    <input type="checkbox" id="system-images" checked>
	    <span data-toggle='tooltip'
		  data-container="body"
		  data-trigger="hover"
		  title='Official images created by system adminstrators'>
	      System Images
	    </span>
	  </label>
	  <label class="checkbox-inline">
	    <input type="checkbox" id="public-images" checked>
	    <span data-toggle='tooltip'
		  data-container="body"
		  data-trigger="hover"
		  title='Public images created by anyone'>
	      Public Images
	    </span>
	  </label>
	  <% if (all) { %>
	    <label class="checkbox-inline">
	      <input type="checkbox" id="admin-images">
	      <span data-toggle='tooltip'
		    data-container="body"
		    data-trigger="hover"
		    title='All other images (red-dot mode)'>
		Red-Dot
	      </span>
	    </label>
	  <% } %>
          <a href='#' class='btn btn-xs' data-toggle='modal'
             data-target='#help-modal'>
            <span class='glyphicon glyphicon-question-sign'
		  style='margin-bottom: 4px;'>
	    </span></a>
	</div>
	<div>
	  <input class='form-control search' type='search' data-column='all'
		 id='images-search' placeholder='Search'>
	</div>
	<div class="table-responsive">
	  <table class='tablesorter' id='images-table'>
	    <thead>
	      <tr>
		<th>Name</th>
		<th>Creator</th>
		<th>Project</th>
		<th>Created</th>
		<th class="sorter-false">Description</th>
		<th class="sorter-false">URN</th>
		<th class="hidden-column">Filters</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% var creator_re = /(creator|project)/; %>
	      <% var project_re = /project/; %>
	      <% _.each(images, function(value, index) { %>
		<tr>
		  <% if (isadmin) { %>
		    <td><a href="<%- value.url %>"><%= value.imagename %></a></td>
		  <% } else { %>
		    <td><%= value.imagename %></td>
	          <% } %>
		  <% if (isadmin || value.filter.search(creator_re) >= 0) { %>
		    <td><a href='user-dashboard.php?uid=<%- value.creator_idx %>'>
		      <%= value.creator %></a></td>
		  <% } else { %>
		      <td><%= value.creator %></td>
                  <% } %>
		  <% if (isadmin || value.filter.search(project_re) >= 0) { %>
		    <td><a href='show-project.php?pid=<%- value.pid_idx %>'>
		      <%= value.pid %></a></td>
		  <% } else { %>
		     <td><%= value.pid %></td>
                  <% } %>
		  <td class="format-date"><%- value.created %></td>
		  <td><%- value.description %></td>
		  <td align="center">
		    <a href="#" 
		       data-toggle='popover'
		       data-html='true'
		       data-trigger='click'
		       data-title="URN for your geni-lib script or RSpec"
		       data-content="<input type=text readonly=readonly
				     class=form-control
				     onClick='this.select();'
				     value='<%- value.urn %>'>">
		      <span class="glyphicon glyphicon-link"></span>
		    </a>
		  </td>
		  <td class="hidden-column"><%- value.filter %></td>
		</tr>
	      <% }); %>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='help-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
	<h4 class='modal-title text-center'>How to use an image?</h4>
      </div>
      <div class='modal-body'>
	<p>
	  The images shown on this page are the ones you can use in
	  your profiles. These include images created by you, system
	  images created by adminstrators, images created other users
	  in projects you belong to, and lastly, images that have been
	  created by users in other projects, that have been marked
	  public and available for anyone to use.
	</p>
	<p>
	  To use an image listed on this page, click on the link icon in the
	  URN column and copy the text. Paste that text into your
	  geni-lib script or RSpec. For example, see the
	  <a href="show-profile.php?project=PortalProfiles&profile=single-pc-ubuntu">single-pc-ubuntu</a> profile.
	</p>
	<p>
	  For more information please see the manual.
	</p>
      </div>
    </div>
  </div>
</div>
